html{
    font-family: "Times New Roman" serif, sans-serif;
}
body {
    /* background-image: url(creative-minimalistic-zebras-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #444;
    text-align: left;

}
/* .container {
    background: linear-gradient(to left, #00ccff, #b3f0ff);
    box-shadow: 3px 5px black; */
}


h1, h2, h3 {
    color: ffffff;
    line-height: 1rem;
    font-style: italic;
}
h2 {
    font-size: 30px;
    font-style: normal;
}

.formating {
    font-size: 25px;
    line-height: 2em;
    color: white;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 30px;
    text-transform: uppercase;
} 
img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 1;
    margin-bottom: 60px;
}

.borderImg{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    padding: 5px;
}

button {
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 20px;
}
ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
}
.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
}