body {
    background-image: url(creative-minimalistic-zebras-wallpaper-preview.jpg);
    background-repeat: no-repeat;
}


.container {
    /*
    )
}
h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}
h2 {
    color: rgb(0, 204, 255);
    text-shadow: 1px 1px 3px darkblue;
}