html{
    font-family: "Times New Roman" serif, sans-serif;
}
body {
    /* background-image: url(creative-minimalistic-zebras-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #444;
    text-align: center;

}
/* .container {
    background: linear-gradient(to left, #00ccff, #b3f0ff);
    box-shadow: 3px 5px black; */
}


h1, h2, h3 {
    color: ffffff;
    line-height: 1rem;
    font-style: italic;
}
h2 {
    font-size: 30px;
    font-style: normal;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    letter-spacing: 10px;
}

.borderImg {
    border: 10px dashed red;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
}